<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid 19 Tracker</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body>
<nav class="teal">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Corona tracker</a>
    </div>
</nav>

<div class="container">
    <table id="corona-table" class="striped">
        <thead>
        <tr>
            <th>Place</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Recovered</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="covid : ${covidData}">

            <td><p th:text="${covid.combinedKey}"></p></td>
            <td th:text="${covid.confirmed}"></td>
            <td th:text="${covid.active}"></td>
            <td th:text="${covid.recovered}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>